body{
    box-sizing: border-box;
    font-family: tahoma;
    margin: 0;
    background-color: #fff;
}

.header{
    top: 0;
    margin-top:  0;
    position: absolute;
    margin: 0;
    display: block;
    background-color: rgb(29, 175, 156);
    width: 100%;
    font-weight: 550;
}
.header_menu{
    display: flex;
    color: #fff;
    text-transform: uppercase;
    padding: 1%;
    transition: all 0.3s ease;
}
.li_header:first-child{
    text-transform: none;
    margin-right: 35%;
    list-style: none;
    margin-left: 5%;
}


.li_header{
    margin-left: 1%;
    margin-right: 1%;
}

.header li ul{
    display: none;
}


p{
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #fff;
}

/* main */ 

.container{
    margin: 0 auto;
    max-width: 60%;
}
.works{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.works_text{
    margin-top: 15%;
    margin-bottom: 0;
}
.wrap{
    margin: 0 auto;
    margin-top: 1%;
    width: 25%;
    content: "";
    border-bottom: 2px solid rgb(29, 175, 156);
    margin-bottom: 5%;
}
.main{
    color: #fff;
    background-color: rgb(11, 100, 11);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15%;
}
.main_elements{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.m_elem{
    cursor: pointer;
    width: 20%;
    padding: 3%;
    background-color: rgb(29, 175, 156);
    border-radius: 2%;
}
.m_elem:hover{
    background-color: rgb(26, 146, 130);
}
.elem_img{
    max-width: 100%;
}
